/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require daterangepicker
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.

@import "bootstrap";
@import "pages_home";
@import "font-awesome-sprockets";
@import "font-awesome";


:root {
    blue: #007bff;
    indigo: #6610f2;
    purple: #6f42c1;
    pink: #e83e8c;
    red: #dc3545;
    orange: #fd7e14;
    yellow: #ffc107;
    green: #28a745;
    teal: #20c997;
    cyan: #17a2b8;
    white: #fff;
    gray: #6c757d;
    gray-dark: #343a40;
    primary: #007bff;
    secondary: #6c757d;
    success: #28a745;
    info: #17a2b8;
    warning: #ffc107;
    danger: #dc3545;
    light: #f8f9fa;
    dark: #343a40;
    breakpoint-xs: 0;
    breakpoint-sm: 576px;
    breakpoint-md: 768px;
    breakpoint-lg: 992px;
    breakpoint-xl: 1200px;
    font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  }
  
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  .text-dark {
    color: #343a40!important;
  }
  
  body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-warning;
}

/*header*/

  .header-dark {
    background: url(../../assets/img/mountain_bg.jpg) #444;
    background-size: cover;
    padding-bottom: 80px;
  }
  
  @media (min-width:768px) {
    .header-dark {
      padding-bottom: 120px;
    }
  }
  
  .header-dark .navbar {
    background: transparent;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }
  
  @media (min-width:768px) {
    .header-dark .navbar {
      padding-top: .75rem;
      padding-bottom: .75rem;
    }
  }
  
  .header-dark .navbar .navbar-brand {
    font-weight: bold;
    color: inherit;
  }
  
  .header-dark .navbar .navbar-brand:hover {
    color: #f0f0f0;
  }
  
  .header-dark .navbar .navbar-collapse span {
    margin-top: 5px;
  }
  
  .header-dark .navbar .navbar-collapse span .login {
    color: #d9d9d9;
    margin-right: .5rem;
    text-decoration: none;
  }
  
  .header-dark .navbar .navbar-collapse span .login:hover {
    color: #fff;
  }
  
  .header-dark .navbar .navbar-toggler {
    border-color: #747474;
  }
  
  .header-dark .navbar .navbar-toggler:hover, .header-dark .navbar-toggler:focus {
    background: none;
  }
  
  .header-dark .navbar .navbar-toggler {
    color: #eee;
  }
  
  .header-dark .navbar .navbar-collapse, .header-dark .navbar .form-inline {
    border-color: #636363;
  }
  
  @media (min-width: 992px) {
    .header-dark .navbar.navbar .navbar-nav .nav-link {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
  }
  
  .header-dark .navbar.navbar-dark .navbar-nav .nav-link {
    color: #d9d9d9;
  }
  
  .header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus, .header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
    color: #fcfeff !important;
    background-color: transparent;
  }
  
  .header-dark .navbar .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 2px;
  }
  
  .header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .dropdown-item {
    line-height: 2;
    font-size: 14px;
    color: #37434d;
  }
  
  .header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .drodown-item:hover {
    background: #ebeff1;
  }
  
  .header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
    background: #208f8f;
    border-radius: 20px;
    font-size: inherit;
    color: #fff;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: .5rem .8rem;
    transition: background-color 0.25s;
  }
  
  .header-dark .navbar .action-button:hover {
    background: #269d9d;
  }
  
  .header-dark .navbar .form-inline label {
    color: #ccc;
  }
  
  .header-dark .navbar .form-inline .search-field {
    display: inline-block;
    width: 80%;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    color: #ccc;
    box-shadow: none;
    color: inherit;
    transition: border-bottom-color 0.3s;
  }
  
  .header-dark .navbar .form-inline .search-field:focus {
    border-bottom: 1px solid #ccc;
  }
  
  .header-dark .hero {
    margin-top: 60px;
  }
  
  @media (min-width:768px) {
    .header-dark .hero {
      margin-top: 20px;
    }
  }
  
  .header-dark .hero h1 {
    color: #fff;
    font-family: 'Bitter', serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 80px;
  }
  
  @media (min-width:768px) {
    .header-dark .hero h1 {
      margin-bottom: 50px;
      line-height: 1.5;
    }
  }
  
  .header-dark .hero .embed-responsive iframe {
    background-color: #666;
  }
  
  
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
  }
  
  
  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  
  .dropdown, .dropleft, .dropright, .dropup {
    position: relative;
  }
  
  .header-dark .navbar .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 2px;
  }
  
  @media (min-width:768px) {
    .header-dark .navbar {
      padding-top: .75rem;
      padding-bottom: .75rem;
    }
  }
  
  .header-dark .navbar {
    background: transparent;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }
  
  
  .header-dark {
    background: url(mountain_bg.jpg) #444;
    background-size: cover;
    padding-bottom: 80px;
  }
  
  @media (min-width:768px) {
    .header-dark .navbar {
      padding-top: .75rem;
      padding-bottom: .75rem;
    }
  }
  
  .header-dark .navbar {
    background: transparent;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }
  
  
  @media (min-width:992px) {
    .navbar-expand-lg {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
  }
  
  
  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }
  .header-dark .navbar .navbar-collapse, .header-dark .navbar .form-inline {
    border-color: #636363;
  }
  
  @media (min-width:992px) {
    .navbar-expand-lg .navbar-collapse {
      display: -ms-flexbox!important;
      display: flex!important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
  }
  
  .collapse:not(.show) {
    display: none;
  }
  
  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media (min-width:992px) {
    .navbar-expand-lg .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }
  
  
  dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  
  @media (min-width:992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute;
    }
  }
  
  .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
  }
  
  .header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .drodown-item:hover {
    background: #ebeff1;
  }
  
  .header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .dropdown-item {
    line-height: 2;
    font-size: 14px;
    color: #37434d;
  }
  
  .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
  }
  
  .dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
  }
  
  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  .dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }
  
  /*end of header*/

  /*carousel*/

  .w-100 {
    width: 100% !important;
}
.d-block {
    display: block !important;
}
*, ::after, ::before {
  box-sizing: border-box;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel {
    position: relative;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' …%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
  
  .carousel-control-next-icon, .carousel-control-prev-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: no-repeat 50%/100% 100%;
  }

.carousel-control-next {
    right: 0;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

/*end carousel*/

.login-clean {
  background: #f1f7fc;
  padding: 80px 0;
}

.login-clean form {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.login-clean .illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 100px;
  color: rgb(244,71,107);
}

.login-clean form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 8px;
  height: 42px;
}

.login-clean form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important;
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background: #eb3b60;
}

.login-clean form .btn-primary:active {
  transform: translateY(1px);
}

.login-clean form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity: 1;
  text-decoration: none;
}


   /*devise */
   .register-photo {
    background: #f1f7fc;
    padding: 80px 0;
  }
  
  .register-photo .image-holder {
    display: table-cell;
    width: auto;
    background: url("http://localhost:3000/assets/images/devise/personhiking.jpg");
    background-size: cover;
  }
  
  .register-photo .form-container {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .register-photo form {
    display: table-cell;
    width: 400px;
    background-color: #ffffff;
    padding: 40px 60px;
    color: #505e6c;
  }
  
  @media (max-width:991px) {
    .register-photo form {
      padding: 40px;
    }
  }
  
  .register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .register-photo form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 6px;
    height: 40px;
  }
  
  .register-photo form .form-check {
    font-size: 13px;
    line-height: 20px;
  }
  
  .register-photo form .btn-primary {
    background: #f4476b;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important;
  }
  
  .register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
    background: #eb3b60;
  }
  
  .register-photo form .btn-primary:active {
    transform: translateY(1px);
  }
  
  .register-photo form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
  }
  
  
  /*login*/



.login-dark{
    height:1000px;
    background:url("http://localhost:3000/app/assets/images/devise/login.jpg") #475d62;
    background-size:cover;
    position:relative

}

.login-dark form{
    max-width:320px;
    width:90%;
    background-color:#1e2833;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%,-50%);
    position:absolute;
    top:50%;
    left:50%;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0,0,0,.2)
}

.login-dark form .btn-primary:active,.register-photo form .btn-primary:active{
    transform:translateY(1px)

}

.login-dark .illustration{
    text-align:center;
    padding:15px 0 20px;
    font-size:100px;
    color:#2980ef
}

.login-dark form .form-control{
    background:0 0;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:0;
    color:inherit
}

.login-dark form .btn-primary{
    background:#214a80;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:0
}

.login-dark form .btn-primary:active,.login-dark form .btn-primary:hover{
    background:#214a80;
    outline:0
}

.login-dark form .forgot{
    display:block
    ;text-align:center
    ;font-size:12px;
    color:#6f7a85;
    opacity:.9;
    text-decoration:none
}
}
/*devise styling*/

/*footer*/

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

/*end of footer****/

